<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="allRepoTypes" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="dummy1.feature.id.feature.group" version="1.1.1"/>
<unit id="dummy2.feature.id.feature.group" version="1.1.2"/>
<repository location="http://nexus:8081/nexus/content/repositories/build.milestones.unzip/org/eclipse/tycho/test/testartifactId/1.1.1/testartifactId-1.1.1-assembly.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://nexus:8081/nexus/content/repositories/build.milestones.unzip/org/eclipse/tycho/test/testartifactId1/2.0.0/testartifactId1-2.0.0-assembly.zip-unzip/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://onlyRepoInLocation/repo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="dummy2.feature.id.feature.group" version="2.1.1"/>
<repository location="http://firstOfTwoReposInOneLocation/repo"/>
<repository location="http://secondOfTwoReposInOneLocation/repo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://nexus:8081/nexus/content/repositories/build.snapshots.unzip/org/eclipse/tycho/test/testartifactNotReleased/1.1.1-SNAPSHOT/testartifactNotReleased-1.1.1-SNAPSHOT-assembly.zip-unzip/"/>
</location>
</locations>
</target>
